<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686935572554-8nn946lppr7oks4dlb9p9338kh8dj2g6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686935572554-8nn946lppr7oks4dlb9p9338kh8dj2g6</string>
	<key>API_KEY</key>
	<string>AIzaSyAGGjgXUYIkWPk3X8Creq_LOk5vbNZ_XkY</string>
	<key>GCM_SENDER_ID</key>
	<string>686935572554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>coddybuddy.com.CoddyBuddy</string>
	<key>PROJECT_ID</key>
	<string>coddybuddydb</string>
	<key>STORAGE_BUCKET</key>
	<string>coddybuddydb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686935572554:ios:f967f54801ab8435caa6b3</string>
</dict>
</plist>