<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722405441689-j37g3uv3or1pjmqmla2gk1csv32rj01b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722405441689-j37g3uv3or1pjmqmla2gk1csv32rj01b</string>
	<key>API_KEY</key>
	<string>AIzaSyDzAU0L5p8eo4o8bwRapsZPKOU22ujbYXs</string>
	<key>GCM_SENDER_ID</key>
	<string>722405441689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CoddyBuddy.CoddyBuddy</string>
	<key>PROJECT_ID</key>
	<string>coddybuddyfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>coddybuddyfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722405441689:ios:ab31abbc15453d4cb1f808</string>
</dict>
</plist>